<div class="draft-background">
    <div class="header-title">
        <h2>Blog</h2>
        <div>
            <button nz-button nzType="primary" (click)="create()">Add</button>
        </div>
    </div>
    <div class="listing-event">
        <nz-table #blogs [nzData]="blogList" [nzFrontPagination]="false" [nzLoading]="isLoadingBlogList"
            [nzTotal]="total" [nzPageSize]="10" [nzPageIndex]="1" (nzQueryParams)="onQueryParamsChange($event)">
            <thead>
                <tr>
                    <th>Title</th>
                    <th nzWidth="200px">Status</th>
                    <th nzWidth="200px">Access</th>
                    <th nzWidth="100px"></th>
                </tr>
            </thead>
            <tbody>
                @for(blog of blogs.data;track blog){
                <tr>
                    <td (click)="open(blog._id || '')">
                        <div class="event-name"> {{blog.title}}
                        </div>
                    </td>
                    <td>{{blog.status}}</td>
                    <td>{{blog.access}}</td>
                    <td>
                        @if(blog.status == 0 || blog.access == 0){
                        <button nz-button nzType="text" nzType="primary" (click)="public(blog._id || '')">
                            Public
                        </button>
                        } @else {
                        <button nz-button nzType="text" nzType="primary">
                            Unpublic
                        </button>
                        }

                        <!-- <button nz-button nzType="text" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
                            <span nz-icon nzType="more" nzTheme="outline"></span>
                        </button>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <ul nz-menu>
                                <li nz-menu-item>Public</li>
                            </ul>
                        </nz-dropdown-menu> -->
                    </td>
                </tr>
                }
            </tbody>
        </nz-table>
    </div>
</div>