/* You can add global styles to this file, and also import other style files */
@import "_variables.scss";

.site-width {
    width: 100%;
    max-width: var(--extra-large-screen);
    margin: 0 auto;
}